.botontitle {
    background: black;
    padding: 40px;
    text-align: center;
    margin: 10px;
    font-size: 60px;
    border: 5px black solid;
    border-radius: 40px;
    color: #bababa;
}

.navegador-1 {
    position: absolute;
    display: inline;
    font-size: 30px;
    top: 70px;
    left: 650px;
}

a {
    text-decoration: none;
    color: #bababa;
}

#redes {
    margin: 10px;
    background: black;
    border: 3px black solid;
    border-radius: 15px;
    padding: 5px;
    color: #bababa;
    transition: .5s;
}

#gallery {
    margin: 10px;
    background: black;
    border: 3px black solid;
    border-radius: 15px;
    padding: 5px;
    color: #bababa;
    transition: .5s;
}

#redes:hover {
    background: white;
    color: black;
    transition: .5s;
}

#gallery:hover {
    background: white;
    color: black;
    transition: .5s;
}

body {
    background: #858585;
}

.navegador-2 {
    position: absolute;
    display: inline;
    font-size: 30px;
    top: 70px;
    left: 40px;
}

#contacto {
    margin: 10px;
    background: black;
    border: 3px black solid;
    border-radius: 15px;
    padding: 5px;
    color: #bababa;
    transition: .5s;
}

#proyectos {
    margin: 10px;
    background: black;
    border: 3px black solid;
    border-radius: 15px;
    padding: 5px;
    color: #bababa;
    transition: .5s;
}

#proyectos:hover {
    background: white;
    color: black;
    transition: .5s;
}

#contacto:hover {
    background: white;
    color: black;
    transition: .5s;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}